@import '../scss/variables';

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card{
        position: relative;
        background-color: $cardNavBgColor;
        margin: 1rem;
        padding: 1rem;
        border-radius: 7px;
        box-shadow: 3px 3px 5px (0,0,0,0.7);
        overflow: hidden;

        &:hover .card-over{
            transform: translateY(0%);
        } 
    }

    .title {
        color: $backgroundColor;
        font-size: 1.5rem;
    }

    img {
        width: 500px;
        height: 350px;
        object-fit: cover;
        &:hover{
            filter: grayscale(100%);
        }
    }

    .card-over{
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        font-size: 1.5rem;
        padding: 2rem;
        transform: translateY(100%);
        z-index:1;
        transition: transform .7s ease-in-out;
    }

}




